In [15]:
from pathlib import Path
from kedro.framework.session import KedroSession
from kedro.framework.session.session import _activate_session

/home/sauron/anaconda3/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [16]:
current_dir = Path.cwd()  # this points to 'notebooks/' folder
project_path = current_dir.parent  # point back to the root of the project
context = session.load_context()

In [17]:
catalog=context.catalog

In [18]:
catalog.load("actor_query")

2021-04-01 18:52:26,934 - kedro.io.data_catalog - INFO - Loading data from `actor_query` (SQLQueryDataSet)...

     actor_id first_name     last_name             last_update
0           1   Penelope       Guiness 2013-05-26 14:47:57.620
1           2       Nick      Wahlberg 2013-05-26 14:47:57.620
2           3         Ed         Chase 2013-05-26 14:47:57.620
3           4   Jennifer         Davis 2013-05-26 14:47:57.620
4           5     Johnny  Lollobrigida 2013-05-26 14:47:57.620
..        ...        ...           ...                     ...
195       196       Bela        Walken 2013-05-26 14:47:57.620
196       197      Reese          West 2013-05-26 14:47:57.620
197       198       Mary        Keitel 2013-05-26 14:47:57.620
198       199      Julia       Fawcett 2013-05-26 14:47:57.620
199       200      Thora        Temple 2013-05-26 14:47:57.620

[200 rows x 4 columns]

In [19]:
catalog.load("movie_abstracts_es")

2021-04-01 18:52:39,261 - kedro.io.data_catalog - INFO - Loading data from `movie_abstracts_es` (SQLQueryDataSet)...

/home/sauron/anaconda3/lib/python3.7/site-packages/ipykernel/ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

     movie_id                                           abstract
0       15969  Un duelo a tres bandas va a enfrentar a un caz...
1       41508  Tras su reciente y doloroso divorcio, el novel...
2       18079  En otoño de 2003, con el empeño de poner onlin...
3       28990  En la Inglaterra de los años 70, tres jóvenes ...
4       34622  Barcelona, siglo XIX. Joana Prats es una joven...
..        ...                                                ...
318    117923  Becky Lynch Y Charlotte Flair Son dos luchador...
319    120269  A group of friends vow to open their college a...
320    120270  A 12 year old boy with a passion for dance and...
321     93383  Un festival de fama mundial... Un cristal relu...
322    129454                                ¿Necesita una mano?

[323 rows x 2 columns]